
<div *ngIf="project" class="col-sm-12">
  <div id="projectTitle">{{project.title}}</div>
  <mat-tab-group>
    <mat-tab label="Beschreibung">
      <div id="projectDescr">
        {{project.description}}
      </div>
      <div id="projectNotice">
        <h4>Notizen: </h4>
        {{project.notice}}
      </div>
    </mat-tab>
    <mat-tab label="Aufgaben">
      <mat-list>
        <mat-list-item *ngFor="let task of tasks">
          <div class="col-sm-4">
            {{task.title}}
          </div>
          <div class="col-sm-6">
            Deadline: {{task.deadline | date:'dd.MM.yy'}}
          </div>
          <div class="col-sm-2">
            <i class="fa fa-times-circle delete" matTooltip="Aufgabe löschen" (click)="deleteTask(task)"></i>
          </div>
        </mat-list-item>
      </mat-list>
      <!-- <div class="form-group col-xs-12">
        <label for="newTask">neue Aufgabe</label>
        <i id="newTask" name="newTask" class="fa fa-plus-circle" (click)="addTask()"></i>
      </div> -->
    </mat-tab>
    <mat-tab label="Team">
      <mat-list>
          <mat-list-item *ngFor="let employee of employees">
            <div class="col-sm-4">
              {{employee.name}}
            </div>
            <div class="col-sm-6">
              {{employee.email}}
            </div>
          </mat-list-item>
      </mat-list>
      <!-- <div class="form-group col-xs-12">
        <label for="newUser">neuer User</label>
        <i id="newUser" name="newUser" class="fa fa-plus-circle" (click)="addUser()"></i>
      </div> -->
    </mat-tab>
    <mat-tab label="Termine">
      <div class="col-sm-12">
        <mat-list>
          <mat-list-item *ngFor="let task of tasks">
            <div class="col-sm-4"
            [class.milestone]="task.milestone">
              {{task.deadline | date:'dd. MMMM y'}}
            </div>
            <div class="col-sm-6" [class.milestone]="task.milestone">
              {{task.title}}
            </div>
            <!-- <div class="col-sm-2" *ngIf="task.milestone">
              <i class="fa fa-times-circle delete" matTooltip="Meilenstein löschen" (click)="deleteMilestone(task.deadline)"></i>
            </div> -->
          </mat-list-item>
        </mat-list>
      </div>
      <!-- <div class="form-group col-xs-12">
        <mat-form-field>
          <label for="newAppointment">neuer Meilenstein</label>
          <input matInput [matDatepicker]="myDatepicker" id="newAppointment">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
          <i class="fa fa-plus-circle" matTooltip="neuen Meilenstein festlegen" (click)="addAppointment()"></i>
        </mat-form-field>
      </div> -->
    </mat-tab>
  </mat-tab-group>
</div>



   <!-- <div>
     <label>id: </label>{{project.id}}
   </div>
   <div>
     <label>title: </label>
     <input [(ngModel)]="project.title" placeholder="title"/>
   </div>
 </div>
 <button (click)="goBack()">Back</button>
<button (click)="save()">Save</button> -->
