#projectDescr {
  margin: 10px;
}

.form-group {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
}

#projectTitle {
  font-weight: bold;
  padding: 10px;
  margin-left: 27px;
  font-size: 135%;
}

.delete {
  color: darkred;
}

.milestone {
  color: red;
}
