<!--The content below is only a placeholder and can be replaced.-->

<h2>My Projects</h2>
<div>
  <label>Projekttitel:</label> <input #projectTitle />
  <button (click)="add(projectTitle.value); projectTitle.value=''">
    Add
  </button>
</div>
<ul class="projects">
  <li *ngFor="let project of projects"
    [class.selected]="project === selectedProject"
    (click)="onSelect(project)">
    <span class="badge">{{project.id}}</span> {{project.title}}
    <button
      (click)="delete(project); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedProject">
  <h2>
    {{selectedProject.title | uppercase}} is my project   </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
