
<div class="col-sm-8">
  <project-search></project-search>
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="8px">
      <mat-grid-tile *ngFor="let project of projects" >
          {{project.title}}
          <div class="icons">
            <i class="fa fa-trash-o details delete" aria-hidden="true" matTooltip="Projekt löschen" (click)="delete(project); $event.stopPropagation()"></i>
            <!-- <i class="fa fa-pencil details" aria-hidden="true" (click)="updateProject(project)" matTooltip="Projekt bearbeiten"></i> -->
            <i class="fa fa-info-circle details" aria-hidden="true" [routerLink]="['/project', project.id]" matTooltip="Details anzeigen"></i>
          </div>
      </mat-grid-tile>
  </mat-grid-list>
  <div class="form-group col-sm-8">
    <label for="newProject">neues Projekt</label>
    <i id="newProject" name="newProject" class="fa fa-plus-circle" (click)="addProject()"></i>
  </div>
  <div class="col-sm-4">

  </div>
</div>
<div class="col-sm-4 side-bar">
  <div class="col-sm-12">
    <h4>Anstehende Aufgaben</h4>
    <ul *ngFor="let project of projectTaskCombination">
      <li  *ngIf="project.tasks?.length > 0">
        <ul>
          <a [routerLink]="['/project', project.project.id]">{{project.project.title}}</a>
          <li *ngFor="let task of project.tasks">
            <span>{{task.title}}</span>
          </li>
        </ul>
        <!-- <ul>
          <li *ngIf="project.tasks">
            <a [routerLink]="['/project', project.project.id]">{{project.project.title}}</a>
            <ul>
              <li *ngFor="let task of project.tasks">
                <span>{{task.title}}</span>
                <mat-divider></mat-divider>
              </li>
            </ul>
          </li>
        </ul> -->
      </li>
    </ul>
  </div>
</div>
