mat-grid-tile {
  background: 	#c1cdcd;
  border-radius: 10px;
  color: #f0f0f0;
}

a:link {
  color: #3c3b3b;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #3c3b3b;
  text-decoration: none;
}

mat-list-item {
  height: auto;
  max-height: 25px;
}

mat-list-item a {
  font-size: 80%;
}

.form-group {
  text-align: right;
  margin-top: 70px;
}
