<project-search class="col-sm-12"></project-search>
<div class="col-sm-8">
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="8px">
      <mat-grid-tile *ngFor="let project of projects">
          <a  [routerLink]="['/project', project.id]" class="col-1-4">{{project.title}}</a>
      </mat-grid-tile>
  </mat-grid-list>
  <div class="form-group col-xs-12">
    <label for="newProject">neues Projekt</label>
    <i id="newProject" name="newProject" class="fa fa-plus-circle" (click)="addProject()"></i>
  </div>
</div>
<div class="col-sm-4">
  <h4>Anstehende Aufgaben</h4>
  <mat-list>
    <mat-list-item *ngFor="let project of projects">
      <a  [routerLink]="['/project', project.id]">{{project.title}}</a>
    </mat-list-item>
  </mat-list>
</div>

<!-- <div class="grid grid-pad">
  <a *ngFor="let project of projects" [routerLink]="['/project', project.id]" class="col-1-4">
    <div>
      <h4>{{project.title}}</h4>
    </div>
  </a>
</div> -->
<!-- <mat-card>
  <mat-card-title>Ratio-height grid list</mat-card-title>
  <mat-card-content>
    <mat-grid-list cols="2" [rowHeight]="ratio" gutterSize="4px">
      <mat-grid-tile *ngFor="let project of projects" [style.background]="'lightblue'">
        {{project.title}}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <p>Change ratio: <input [(ngModel)]="ratio"></p>
  </mat-card-actions>
</mat-card> -->
